<div class="home-index">
	<%= render partial: "client/share/articles_list", locals: {articles: @articles} %>
	<nav class="pagination">
	  <%= paging client_home_index_path, @count, @page_no, @page_size%>
	</nav>
</div>