<div class="error-page">
	<div class="mui-flex horicent verticent error-page-con">
	 	<h1><%= status %></h1>
	</div>
</div>

<style type="text/css">
	.error-page-con {
		height:400px;
	}
</style>