<% content_for :fa_dashboard do %>
  <div>
    <h1><i class="app-menu__icon fa fa-file-text"></i>文章详情</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">文章管理</a></li>
    <li class="breadcrumb-item"><%= link_to '文章列表', admin_articles_path%></li>
  </ul>
<% end %>

<div class="row">
	<div class="col-md-12">
    <div class="tile">
      <div class="tile-body table-responsive">
      	<h1 style="text-align: center; margin: 20px 0;"><%= @article.title %></h1>
        <div style="text-align: center;">创建于：<time><%= format_date @article.created_at.to_time %></time></div>
      	<p><%= render_markdown @article.content %></p>
      </div>
    </div>
  </div>
</div>