<% content_for :fa_dashboard do %>
  <div>
    <h1><i class="fa fa-dashboard"></i> 控制面板</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">控制面板</a></li>
  </ul>
<% end %>