select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  height: 3rem;
  color: #495057;
  background-color: #FFF;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

  &:selection {
    color: #FFF;
    background-color: #28a745;
  }
}

.user-col {
  width: 30%;
}

.session-notice {
  #notice {
    color: red;
  }
}