/* 浮动、清除浮动
 ==============================================*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    zoom: 1;
    &:after {
        content: '.';
        display: block;
        //overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
        clear: both;
    }
}

/* flex
===============================================*/
.mui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
// 垂直排列
.col {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

// 水平居中
.horicent {
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
// 两端对齐
.justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
// 两端对齐
.justify-around {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-around;
}
// 右对齐
.flex-end {
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

// 垂直居中
.verticent {
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
// 基于底部对齐
.verticent-end {
    -webkit-box-orient: horizontal;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
// 基于基线对齐
.align-bl {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
// 占满整个容器的高度
.align-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

// 向左排列
.row-reverse {
    flex-direction: row-reverse;
}